/*FONT FOR Headings*/
@font-face {
  font-family: 'Bogart';
  src: url('/fonts/Bogart.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*FONT FOR PARAGRAPHS*/
@font-face {
  font-family: 'DejaVuSansMono';
  src: url(/fonts/DejaVuSansMono.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
